.contact-wrapper {
    display: grid;
    grid-row: content-s/content-e;
    grid-column: s/e;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
}

.contact__phone {
    padding: 20px;
    font-size: 40px;
    color: white;
    border: 1px solid #ffdb4d;
    border-radius: 50%;
}

.contact__map-marker {
    padding: 20px;
    font-size: 40px;
    color: white;
    border: 1px solid #ffdb4d;
    border-radius: 50%;
}