.navbar {
  display: grid;
  grid-row: navbar-s/navbar-e;
  grid-column: s/e;
  width: 100vw;

  background-color: #333;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  height: 50px;

  color: white;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
}

.navbar-links {
  display: grid;
  grid-template-rows: [s] 1fr [e];
  grid-template-columns: [meet-s]1fr [meet-e classes-s]1fr [classes-e kids-s] 1fr [kids-e schedule-s] 1fr [schedule-e contact-s] 1fr [contact-e];
  justify-items: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
  &:active {
  }

  &__meet {
    grid-column: meet-s/meet-e;
  }

  &__classes {
    grid-column: classes-s/classes-e;
  }

  &__kids {
    grid-column: kids-s/kids-e;
  }

  &__schedule {
    grid-column: schedule-s/schedule-e;
  }

  &__contact {
    grid-column: contact-s/contact-e;
  }
  & > * {
    grid-row: s/e;
  }
}
