.announcements-wrapper {
    display: grid;
    grid-template-rows: [s] 1fr [m] 1fr [e] 1fr [f];
    grid-template-columns: 1fr;
    justify-content: center;

}

.announcements {
    display: grid;
    justify-content: center;
    padding: 50px;
    grid-column-gap: 200px;

    &__title {
        padding: 20px;
        padding-left: 60px;
        font-weight: 600;
        font-size: 16px;
        width: 100px;

    }

    &__0 {
        grid-row: s/m;
        grid-column: 1fr;
    }
    &__1 {
        grid-row: m/e;
        grid-column: 1fr;
    }
    &__2 {
        grid-row: e/f;
        grid-column: 1fr;
    }

    &__imageUrl {
        img {
            width: 200px;
        }
    }

    &__information {
        width: 200px;
    }
}