.footer {
    display: grid;
    grid-row: footer-s/footer-e;
    grid-column: s/e;
    justify-content: end;
    font-size: 16px;
    color: #ffdb4d;
    align-content: center;
    

    @media screen and (min-device-width: 320px) and (max-device-width: 640px) {
        margin: 20px;
    }
    
}