.footer {
    display: grid;
    grid-row: footer-s/footer-e;
    grid-column: s/e;
    justify-content: end;
    font-size: 24px;
    color: #ffdb4d;
    align-items: center;
    background-color: blue;
    

    
    
}

