.footer {
    display: grid;
    grid-row: footer-s/footer-e;
    grid-column: s/e;
    justify-content: end;
    font-size: 20px;
    color: #ffdb4d;
    align-content: center;
    font-weight: 600;
    padding: 100px;

    
    
}

