.home-form {
  display: grid;
  grid-template-rows: [title-s]150px [title-e content-s] 1fr [content-e];
  grid-template-columns: 20%[image-s] 1fr [image-e] 40px [text-s] 1fr [text-e]20%;
  justify-content: center;
  max-height: 1500px;
  max-width: 1500px;
  
  
  

  &__title {
    display: grid;
    width: 400px;
    margin-top: 30px;
    font-size: 50px;
    color: #ffdb4d;
    grid-row: title-s/title-e;
    grid-column: image-s/text-e;
    justify-self: center;
  }
  &__image {
    grid-row: content-s/content-s;
    grid-column: image-s/image-e;
    height: 300px;
    width: 400px;

    img {
      height: auto; 
      width: 40%;
    }
  }

  &__content {
    font-size: 1.8rem;
    width: 90%;
    height: auto;

    grid-row: content-s/content-e;
    grid-column: text-s/text-e;
  }
}