.home-form {
  display: grid;
  grid-template-rows: [title-s]200px [title-e content-s] 1fr [content-e];
  grid-template-columns:  130px[image-s] 1fr [image-e] 60px [text-s] 1fr [text-e] ;
  justify-content: center;
  
  
  


  &__title {
  
    display: grid;
    width: 400px;
    margin-top: 30px;
    font-size: 50px;
    color: #ffdb4d;
    grid-row: title-s/title-e;
    grid-column: image-s/text-e;
    justify-self: center;
    align-self: center;
  }
  &__image {
    grid-row: content-s/content-s;
    grid-column: image-s/image-e;
    height: 400px;
    width: 600px;
    
  }

  &__content {
    font-size: 1.8rem;
    width: 380px;
    grid-row: content-s/content-e;
    grid-column: text-s/text-e;
    
  }

}
