.home {
    display: grid;
    color: #ffdb4d;
    font-size: 15px;
    grid-row: content-s/content-e;
    grid-column: s/e;
    height: 100%;
    width: 100vw;
    

    
    
    img {
        justify-self: center;

        
        
    }

    &__image {

        
        height: 80%;
        width: 50%;
    }

   &__form-bjj {
       h1 {
           width: 530px;
       }
   }

   
}

