.home {
    display: grid;
    color: #ffdb4d;
    font-size: 15px;
    grid-row: content-s/content-e;
    grid-column: 1/-1;
   
    

    
    
    img {
        justify-self: center;

        
        
    }

    &__image {

        
        height: 400px;
        width: 800px;
    }

   &__form-bjj {
       h1 {
           width: 530px;
       }
   }

   &__form-thai {
    h1 {
        width: 600px;
    }
}
   
}

