.home {
    display: grid;
    
    color: #ffdb4d;
    font-size: 15px;
    grid-row: content-s/content-e;
    grid-column: s/e;
    justify-self: center;
    
   
    

    
    
    img {
        justify-self: center;

        
        
    }

    &__image {

        
        width: auto;
        max-width: 75%;
        display: block;
    }

   &__form-bjj {
       h1 {
           width: 530px;
       }
   }

   &__form-thai {
    h1 {
        width: 600px;
    }
}
   
}
