html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-weight: normal;
    background-color: #333;
    color: #ffdb4d !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    @media screen and (min-device-width: 320px) and (max-device-width: 480px) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        -webkit-tap-highlight-color: transparent;

        background-color: #333 !important;
        color: #ffdb4d!important;
        
    }
   
}


$grey: #8a8a8a;

@import './headerNavbar/header.scss';

@import './layout.scss';
@import './home.scss';
@import './homeForm.scss';
@import './announcements.scss';
@import './footer.scss';
@import './instructors.scss';
@import './kids.scss';
@import './schedule.scss';
@import './headerNavbar/navigation.scss';
@import './contact/contact.scss';

@import './mediaQueries.scss';

@import './formFields.scss';
@import './button.scss';