html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-weight: normal;
    background: #333;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
   
}


@import './headerNavbar/header.scss';
@import './headerNavbar/navbar.scss';
@import './layout.scss';
@import './home.scss';
@import './homeForm.scss';
@import './announcements.scss';
@import './footer.scss';